# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/function_app/scripts/
/scripts/

local.settings.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Azure Functions
local.settings.json
.python_packages/
azure_functions_worker*.egg-info/

# VS Code
.vscode/
*.code-workspace


# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
*~

# Environment
.env
.venv
venv/
ENV/
env/